<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FlaskRadio</title>
        <meta name="description" content="Music, Radio, Bootstrap">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
        <link rel="apple-touch-icon" href="images/logo.png">
        <meta name="apple-mobile-web-app-title" content="Flatkit">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" sizes="196x196" href="images/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" >
	    <style>
  .radio-card {
    width: 20vw;
    max-height: 600px	  
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow effect */
    text-align: center; /* Center the card content */
  }
   .card-body {
      position: relative;
      width: 200px; /* Set a specific width for the card-body for demonstration purposes */
      height: 100px; /* Set a specific height for the card-body for demonstration purposes */
    }

    .hidden-content {
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%); /* Center the content both horizontally and vertically */
      background-color: #fff;
      padding: 10px;
      border: 1px solid #ccc;
    }

    .card-body:hover .hidden-content {
      visibility: visible;
    }
</style>
    </head>
    <body style="background-color: #13192c;">
        
        <div class="container-fluid" id="app">
            <div id="content" class="row" role="main">  
                <div class="app-body" id="view">
                    <div class="page-content">
                        <div class="row mb-5">
                            <div class="col-lg-12">
                                <div class="padding">
                                    <!-- HEADER -->
                                    <div class="page-title m-b">
                                        <h1 class="inline m-5"> <span class="text-danger">Flask</span> Radio <span class="bi bi-music-player mx-2" style=""></span></h1>
                                      <form id='idf'  action="/2" method="post" >
                                        <div class="search_radio my-3">
                                            <span class="fa fa-search" @click="document.getElementById('idf').submit();"></span>
                                            <input type="text" name='search' class="search-input" v-model="search" @keyup.enter="getRadios" placeholder="Search">
                                        </div> </form>
                                    </div>
                                    <!-- END HEADER -->
									
                                        <div class="row">
                                            <!-- RADIO LIST -->
											{% for index, radio in res %}
<div class="col-md-3">
  <div class="card radio-card">
    {% if radio.favicon %}
    <img src="{{ radio.favicon }}" class="card-img-top" alt="Station Image" width="200" height="200">
    {% else %}
    <img src="https://placehold.co/200x200" class="card-img-top" alt="Placeholder Image" width="200" height="200">
    {% endif %}
    <div class="card-body">
<h5 >{{ radio.name }}</h5>
    <div class="hidden-content">	    
      
      
      <a href="{{ radio.homepage }}" class="btn btn-primary">Visit Homepage</a>
      <!-- Add a "Play" button for each radio station with data attributes -->
      <button class="btn btn-success play-button" onclick="playRadio({{index}}, '{{radio.url_resolved}}', '{{radio.favicon}}', '{{radio.name}}', event)">Play</button>
      </div>
  </div>
  </div>
<h20 >{{ radio.tags }}</h20>	
</div>
{% endfor %}
                                        </div>
                                        <div class="text-center">
                                             <a href="" class="btn btn-sm rounded bg-light" @click.prevent="getRadios()">Show More</a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- FOOTER -->
                <div class="footer fixed-bottom d-flex align-items-center justify-content-between bg-dark" v-if="radios.length > 0" style="min-height:3em" >
                    <div class="d-flex justify-content-center align-items-center ">
                        <img :src="currentRadioImage" v-if="currentRadioImage" alt="" style="width: 3em;height: 3em; margin: 0px; padding: 0px;filter: blur(1px) grayscale(0.5);" >
                        <a href="" @click.prevent="pauseRadio" class="position-absolute ">
                            <i class="bi bi-play-circle fs-4 rounded-circle text-white" v-if="!playing"></i>
                            <i class="bi bi-pause-circle fs-4 rounded-circle text-white " v-else></i>  
                        </a>
                    </div>
                    <div class="playlist justify-content-center" style="padding: 0;">
                        <div class="radio-footer-details">
                            <span class="title fs-6 text-center"  v-text="currentRadioName" v-if="currentRadioName"></span>
                                <div id="bars" class="bars mb-2" v-if="playing">
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                </div>
                            <!-- <span class="subtitle">subtitle</span> -->
                        </div>
                    </div>
                    <div class="volume-range float-end">
                        <span class="text-white" :class="`${volume < 1 ? 'fa fa-volume-mute':'fa fa-volume-up'}`" @click="muteVolume"></span>
                        <input type="range" min="0" max="100" class="" id="formControlRange" v-model="volume" @change="changeVolume">
                    </div>
                </div>
                <!-- END FOOTER -->
                    <audio src="" hidden id="player" controls></audio>
            </div>
        </div>
	    <script>
		    function returnNoImage() {
  fetch(`https://source.unsplash.com/600x400/?radio`)
    .then((response) => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.url;
    })
    .then((url) => {
      this.noImage = url;
    })
    .catch((error) => {
      console.error('Fetch error:', error);
    });
}

// Define the getRadios function
function getRadios() {
  if (!this.search) {
    getMostPlayed();
    return;
  }

  fetch(`${BASE_URL}/api`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ search: this.search }),
  })
    .then((response) => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then((data) => {
      this.radios = data;
    })
    .catch((error) => {
      console.error('Fetch error:', error);
    });
}

// Define the getMostPlayed function
function getMostPlayed() {
  axios
    .get(
      `https://nl1.api.radio-browser.info/json/stations/search?limit=12&hidebroken=true&has_extended_info=true&order=clickcount&reverse=true`
    )
    .then((response) => {
      this.radios = response.data;
    });
}

// Define the pauseRadio function
function pauseRadio() {
  if (this.playing) {
    this.playing = false;
    document.getElementById('player').pause();
  } else {
    this.playing = true;
    document.getElementById('player').play();
  }
}

// Define the playRadio function
function playRadio(index, radiou, radiof, radion, event) {
  var audio = document.getElementById('player');
  var vol = document.getElementById('formControlRange');
  audio.src = '';
  audio.src = radiou;
  this.playing = true;
  audio.volume = vol.value / 100;

  audio.play();
  this.currentRadioImage = radiof;
  this.currentRadioName = radion;
  this.playingIndex = index;
  document.title = `FlaskRadio | ${this.currentRadioName}`;
}

// Define the changeVolume function
function changeVolume() {
  let audio = document.getElementById('player');
  audio.volume = this.volume / 100;
}

// Define the muteVolume function
function muteVolume() {
  let audio = document.getElementById('player');

  if (this.volume > 0) {
    this.lastVolume = this.volume;
    this.volume = 0;
    audio.volume = this.volume / 100;
  } else {
    this.volume = this.lastVolume;
    audio.volume = this.volume / 100;
  }
}
	    </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js" integrity="sha512-m2ssMAtdCEYGWXQ8hXVG4Q39uKYtbfaJL5QMTbhl2kc6vYyubrKHhr6aLLXW4ITeXSywQLn1AhsAaqrJl8Acfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>  
    </body>
