<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Stream Sender</title>
</head>
<body>
    <h1>Audio Stream Sender</h1>
    <button id="startStreaming">Start Streaming</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script>
        var socket = io.connect('https://caller-wqt3.onrender.com/');
         var isStreaming = false;

    document.getElementById('startStreaming').addEventListener('click', function() {
        if (!isStreaming) {
            startStreaming();
        } else {
            stopStreaming();
        }
    });

    function startStreaming() {
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(function(stream) {
                isStreaming = true;
                document.getElementById('startStreaming').innerText = 'Stop Streaming';

                var audioContext = new (window.AudioContext || window.webkitAudioContext)();
                var source = audioContext.createMediaStreamSource(stream);
                var scriptNode = audioContext.createScriptProcessor(4096, 1, 1);

                scriptNode.onaudioprocess = function(audioEvent) {
                    var inputBuffer = audioEvent.inputBuffer;
                    var audioData = inputBuffer.getChannelData(0);
                    socket.emit('audio_data', audioData.buffer);
                };

                source.connect(scriptNode);
                scriptNode.connect(audioContext.destination);
            })
            .catch(function(error) {
                console.error('Error accessing microphone:', error);
            });
    }

    function stopStreaming() {
        isStreaming = false;
        document.getElementById('startStreaming').innerText = 'Start Streaming';
        socket.emit('audio_data', null);  // Signal to stop streaming
    }
    </script>
</body>
</html>
