<!-- templates/receiver.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Stream Receiver</title>
</head>
<body>
    <h1>Audio Stream Receiver</h1>
    <audio controls id="audioPlayer"></audio>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script>
        var socket = io.connect('https://caller-wqt3.onrender.com/');
        var audioContext = new (window.AudioContext || window.webkitAudioContext)();
        var audioPlayer = document.getElementById('audioPlayer');

        socket.on('audio_data', function(audioData) {
            if (!audioData) {
                // Stop streaming signal received
                audioPlayer.src = '';
                return;
            }

            var audioBuffer = audioContext.createBuffer(1, audioData.length, audioContext.sampleRate);
            var channelData = audioBuffer.getChannelData(0);
            channelData.set(audioData);
            
            var source = audioContext.createBufferSource();
            source.buffer = audioBuffer;
            source.connect(audioContext.destination);
            source.start();
        });
    </script>
</body>
</html>
